<html id="index">

<div id="login">

  <h2>Welcome to TheClub</h2>

  <form action="/sessions" method="post">
    <input  type="hidden" name="authenticity_token" value= "<%= form_authenticity_token  %>" />

    <label><h3>Email :</h3></label>
    <input type="email" name="email" />
    <br />

    <label><h3>Password :</h3></label>
    <input type="password" name="password"  />
    <br />

    <button>LOGIN</button>
  </form>
  <p>
    Don't have an account?
    <a href="/signup">Click here</a>
  </p>
</div>
</html>
