<h1>New User</h1>
<form action="/create" method="post">
  <input name="authenticity_token" value="<%= form_authenticity_token %>" type="hidden">
  <p>
    <label>First Name:</label>
    <input type="text" name="new_user[first_name]" required/>
  </p>
  <p>
    <label>Last Name:</label>
    <input type="text" name="new_user[last_name]" required/>
  </p>
  <p>
    <label>Email:</label>
    <input type="text" name="new_user[email]" required />
  </p>
  <p>
    <label>Password:</label>
    <input type="password" name="new_user[password]" required />
  </p>
  <input type="submit" value="Create" />
</form>

<a href="/users">Back</a>
