<h1>Edit User</h1>
<form action="/users/<%= @user.id %>" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>" />
  <input type="hidden" name="_method" value="put" />
  <p>
    <label for="Name">Name:</label>
    <input id="Name" type="text" name="user[name]" value="<%= @user.name %>"  />
  </p>
  <p>
    <label for="email">Email:</label>
    <input id="email" type="email" name="user[email]" value="<%= @user.email %>" />
  </p>
  <p>
    <button type="submit">Update</button>
  </p>
</form>
