<h1>User index</h1>
<form action='/users/register' method="post">
  <p>
    <label>First Name</label>
    <input type="text" name="First_name" />
    <label>Last Name</label>
    <input type="text" name="Last_name"  />
    <label>Email</label>
    <input type="text" name="Email" />
    <label>Password</label>
    <input  type="text" name="Password" />
    <label>Confirm password</label>
    <input type="text" name="Password_Confirmation" />
    <input type="submit" value="Register" />
  </p>
</form>
