// Place all the styles related to the Random controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


div.body {
  width: 600px;
  height: 200px;
  margin: 0 auto;
  background-color: lightblue;
  margin-top: 200px;
  padding: 20px;
  text-align: center;
  vertical-align: top;
}

div.number {
  border: 2px solid black;
  width: 400px;
  height: 100px;
  font-size: 30px;
  text-align: center;
  vertical-align: top;
  padding: 10px;
}
