<h1>Users</h1>
<form action="/sessions" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>" />
  <p>
    <label>Email:</label>
    <input type="text" name="Email" />
  </p>
  <p>
    <label>Password:</label>
    <input type="text" name="Password" />
  </p>
  <p>
    <input type="submit" value="Log In" />
  </p>
</form>

<a href="/users/new">Sign Up</a>
